
mobile/ceasa_app_v1/ios/Flutter/AppFrameworkInfo.plist
mobile/ceasa_app_v1/ios/Flutter/AppFrameworkInfo.plist
mobile/ceasa_app_v1/ios/Flutter/AppFrameworkInfo.plist
mobile/ceasa_app_v1/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
*.lock
*.xcscheme
*.plist
